.avatar-header {
    position: fixed;
    right: 20px;
    top: 0px;
    height: 50px;
    display: flex;
    line-height: 50px;
}

.ant-col {
    padding: 20px 10px
}

.ant-popover-inner-content {
    padding: 10px 0px;
}

.list-noti {
    display: block;
    width: 40vw;
    min-width: 300px;
    max-width: 400px;
    height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    label{
        line-height: 15px;
        padding: 0 10px;
    }
}