.login {
    padding: 20px 40px;
    height: calc(100vh - 120px);
    .r-p-content {
        background-color: white;
        padding: 20px 30px;

        p{
            font-weight: 500;
            font-size: 1rem;
        }
    }
}