.login {
    margin-top: 60px;
    min-height: calc(100vh - 120px);
    background-color: whitesmoke;
    .r-p-content {
        background-color: white;
        padding: 20px 20px 50px;
        margin-bottom: 30px;
        p{
            font-weight: 500;
            font-size: 1rem;
            margin-bottom: 5px;
        }
    }
}

.ant-tabs-nav-scroll {
    padding: 0 25%;
}