.annou-edit-modal {
  p {
    margin-bottom: 0px !important;
  }

  .content-edit {
      padding: 20px 5px;
  }
}

.action {
  .high_light{ color: white; background-color: rgb(255, 166, 0); padding: 2px 5px; margin: 5px; border-radius: 3px; height: auto;}
  .normal{color: rgb(41, 41, 41); background-color: rgb(159, 255, 245); padding: 2px 5px; margin: 5px; border-radius: 3px;}
  .in_day{color: white; background-color: rgb(105, 192, 255); padding: 2px 5px; margin: 5px; border-radius: 3px;}
  .top{color: #ffffff; background-color: #ff4f4f; padding: 2px 5px; margin: 5px; border-radius: 3px;}
  .unlock{color: rgb(35, 35, 35); background-color: rgb(242, 246, 156); padding: 2px 5px; margin: 5px; border-radius: 3px;}
  .title_highlight{color: #ffffff; background-color: rgba(0, 106, 255, 0.87);padding: 2px 5px; margin: 5px; border-radius: 3px;}
  .italic {font-style: italic;}
}

.f-sm {
  font-size: 0.8rem;
}
