.job-announcements-apply {
  max-height: 120vh;
  border-top: solid rgb(199, 199, 199) 1px;
  border-bottom: solid rgb(199, 199, 199) 1px;
  margin: 22px 10px;
  overflow-y: auto;
  padding: 6% 0px;
}

.content-apply {
    max-height: calc(100vh - 234px);
    overflow-y: auto;
    position: relative;
}

.job-apply-item {
    background-color: #fff;
    cursor: pointer;
    &:hover {
        background-color: aliceblue;
    }
}
h5 {
    margin: 0px !important;
    margin-bottom: 5px !important;
}