.affix-right-card {
  margin: 10px;
  display: grid;
  grid-column: auto;
  grid-row: auto;

  h5 {
    margin: 5px 0px !important;
    font-weight: 700;
  }

  .affix-right-card-content {
    height: calc(100vh - 90px);
    width: 100%;
    padding: 10px 20px;

    .list-data {
      padding-left: 15px;
      border-left: solid #ffffff00 1px;

      .data-item {
        display: flex;
        margin: 10px 0px;
        color: rgb(54, 54, 54);
        font-weight: 600;

        h6 {
          vertical-align: middle;
        }
      }

     &:hover {
       border-left: solid rgb(214, 214, 214) 1px;
     }

      .label-item {
        .name-item {
          font-size: 0.7rem;
          color: gray;
        }
      }
    }
  }
}
