.mutil-card {
    margin: 10px;
    display: grid;
    grid-column: auto;
    grid-row: auto;
    position: relative;
    overflow: hidden;
    h5 {
      margin: 0 !important;
    }
  
    .mutil-card-content {
      width: 100%;
    }
  
    .info-card {
      position: absolute;
      z-index: 1;
      bottom: 0px;
      width: 100%;
      height: calc(50% - 15px);
      padding: 15px 10px;
      background-color: white;
  
      .info-writor {
        position: absolute;
        left: 0px;
        bottom: 10px;
        background-color: white;
        width: 100%;
        padding: 5px;
        .writor {
          display: inline-flex;
        }
      }
    }
  
    .img-card-background {
      position: absolute;
      width: 100%;
      height: auto;
      z-index: 0;
    }
  }
  