.dropdown-config {
  min-width: 140px;
  border: solid rgba(209, 209, 209, 0.612) 1px;
  background-color: white;
  min-height: 40px;
  position: absolute;
  right: 3px;
  border-radius: 5px;
  padding: 5px;
  top: 55px;

  li {
    list-style-type: none;
    line-height: 30px;
    color: black!important;
  }

  .children-dropdown {
    padding: 5px 3px;
    border-radius: 5px;
    transition: 0.25s;

    cursor: pointer;
    svg {
      margin: 0px 5px 5px;
    }

    &:hover {
      background-color: #6868682a;
      color: white;
    }
  }
}

.tg-dr-cf-main {
  margin-top: 6px;
  height: 38px;
  width: 60px;
  cursor: pointer;
  transition: 0.25s;
  border-radius: 18px;
  background-color: rgb(0, 120, 185);

  &:hover {
    background-color: rgb(0, 104, 160);
  }
}
.anticon-caret-down, .anticon-caret-up {
  right: 5px !important;
  font-size: unset
}
.d-tg {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
