.dropdown-config {
    min-width: 120px;
    border: solid rgb(209, 209, 209) 1px;
    background-color: white;
    min-height: 30px;
    position: absolute;
    right: 0px;
    border-radius: 5px;
    line-height: 20px;
    padding: 5px 0px;
    li {
      list-style-type: none;
    }
  
    .children-dropdown {
      padding: 5px 10px;
      cursor: pointer;
      transition: 0.5s;
      svg {
        margin: 0px 5px 5px;
      }
  
      &:hover {
        background-color: #1890ff;
        color: white;
      }
    }
  }
  
  .hidden {
    display: none;
  }
  
  .visible {
    display: block;
  }
  