.annou-edit-modal {
  p {
    margin-bottom: 0px !important;
  }

  .content-edit {
      padding: 20px 5px;
  }
}

.high_light{ color: white; background-color: rgb(255, 166, 0); padding: 10px 20px; margin: 5px; border-radius: 3px; height: auto;}
.normal{color: rgb(41, 41, 41); background-color: rgb(159, 255, 245); padding: 10px 20px; margin: 5px; border-radius: 3px;}
.in_day{color: white; background-color: rgb(105, 192, 255); padding: 10px 20px; margin: 5px; border-radius: 3px;}
.top{color: #ffffff; background-color: #ff4f4f; padding: 10px 20px; margin: 5px; border-radius: 3px;}
.title_highlight{color: #ffffff; background-color: rgba(0, 106, 255, 0.87); padding: 10px 20px; margin: 5px; border-radius: 3px;}

.unlock{
  color: rgb(35, 35, 35); 
  background-color: rgb(242, 246, 156); 
  padding: 10px 20px; 
  margin: 5px; 
  border-radius: 3px;
  border: solid gray 1px;
  &:hover{
    border-color: rgb(185, 168, 15);
  }
}
.italic {font-style: italic;}

.f-sm {
  font-size: 0.8rem;
}
.titleJob {
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
   &:focus {
    text-decoration: underline !important;
   }
}
.dollar {
  background-color: #fff;
  &:hover{
    background-color: rgb(255, 145, 0);
    color: white;
    border-color: rgb(255, 145, 0);
  }
}
.edit {
  // color: rgb(0, 179, 60);
  background-color: #fff;
  &:hover{
    background-color: rgb(0, 179, 60);
    color: white;
    border-color: rgb(0, 179, 60)
  }
}
.delete {
  // color: #ff4242;
  background-color: #fff;

  &:hover{
    background-color: #ff4242;
    color: white;
    border-color: #ff4242
  }
}
.copy {
  // color: rgb(6, 187, 228);
  background-color: #fff;

  &:hover{
    background-color: rgb(6, 187, 228);
    color: white;
    border-color: rgb(6, 187, 228)
  }
}
.ant-select-selection-selected-value div{
  display: none;
}
.important-letter {
  font-style: italic;
  font-size: 0.95em;
}
.titleFilter {
  margin-bottom: 4px
}
hr {
  margin: 5px 0
}
.ant-tabs-bar {
  margin: 0;
}
.common-content {
  margin: 0;
}
.table-operations {
  padding: 0 !important;
  margin: 0 !important
}
.ant-tabs-tab-active {
  // background-color: #1890ff;
  font-weight: bold !important;
  // color: #fff !important
}
.ant-tabs-nav-scroll {
  padding: 0
}
.ant-modal-wrap {
  top: -60px;
}
.ant-modal-header {
  padding: 10px 24px;
}
.ant-modal-close-x {
  line-height: 2;
  width: 40px;
  height: 40px;
}
.ant-modal-body {
  padding: 3px 15px !important;
}
.TitleJob {
  margin-bottom: 10px !important;
}
.service {
  flex: 3;
  text-align: center;
}
.service-center {
  flex: 3;
  text-align: center;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.wapper-service {
  box-shadow: 0 0 4px rgb(212, 212, 212);
  padding: 10px;
  border-radius: 5px;
  display: flex;
}
.wapper-service-unactive {
  background-color: #ececec;
  box-shadow: 0 0 4px rgb(212, 212, 212);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  color: #868686;
}
.bold-value {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 0.9em;
}
.bold-text{
  font-weight: bold;
}
.select-service {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgb(212, 212, 212);
}
.select-service-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgb(212, 212, 212);
}
.title-caplock {
  font-family: sans-serif;
}
.description {
  font-size: 0.95em
}
.ant-modal-body {
  background-color: #fff
}
.pending-candidate {
  &:focus-within{  
    // border-bottom: 1px solid #ff9934;
    background-color: #000
  }
}
