.img-inside {
  width: 100%;
  height: 500px;
  text-align: center;
  transition: 0.5s;
  display: flex;
  justify-content: center;

  img {
    width: 250px;
    margin: 10px;
    height: 500px;
  }
}

.community {
  label {
    padding: 5px
  }
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 600x;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: black;
}

.slick-dots {
  li {
    background-color: gray;
    height: 3px;
  }
}

.job-service {
    color: black;
    a {
        text-decoration: underline;
    }
}
