.first-card {
  margin: 10px;
  display: grid;
  grid-column: auto;
  grid-row: auto;
  position: relative;
  overflow: hidden;
  color: rgba(128, 128, 128, 1);

  h5 {
    margin: 0 !important;
  }

  .first-card-content {
    height: 37.5vw;
    width: 100%;
  }

  .info-card {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    width: 100%;
    height: calc(50% - 10px);
    padding: 15px 10px;
    background-color: white;

    .info-writor {
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding-bottom: 5px;
      width: 100%;
      padding: 10px;
      
      .writor {
        display: inline-flex;
        width: 100%;
      }

      .ant-skeleton-header {
        padding-top: 30%;
      }

      .ant-skeleton-content {
        vertical-align: bottom;
      }
      .ant-skeleton-paragraph {
        margin: 0;
      }

      li {
        margin-top: 5px;
      }
    }
  }

  .img-card-background {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 0;
  }
}
