.school-content {
  display: grid;
  grid-template-columns: auto auto auto ;
  width: 130%;
  height: 120%;
  margin-top: -10%;
  margin-left: -15%;
  position: relative;
  overflow: hidden;
}

.sc-dr-if {}
