.container {
  margin: none;
}

.footer {
  line-height: 60px;
  background-color: #296ea7;
  color: white;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100vw;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
